@font-face {
    font-family: 'PokemonHollow';
    src: url('/fonts/font_pokemon/PokemonHollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PokemonSolid';
    src: url('/fonts/font_pokemon/PokemonSoild.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OrangeKid';
    src: url('/fonts/font_orange-kif/OrangeKid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.PokemonHollow {
    font-family: 'PokemonHollow', sans-serif;
}

.PokemonSolid {
    font-family: 'PokemonSolid', sans-serif;
}

.OrangeKid {
    font-family: 'OrangeKid', sans-serif;
}


