<header class="pt-4">
  <div class="h-5 grid-cols-4 flex justify-between px-6 press-start">   
    <button (click)="navigateToCourses()" class="cursor-pointer hover:underline hover:scale-105">Courses</button>
    <button (click)="navigateToStudio()" class="cursor-pointer hover:underline hover:scale-105">Studio</button>
    <button (click)="navigateToAccount()" class="cursor-pointer hover:underline hover:scale-105">Account</button>
    <button (click)="navigateToContact()" class="cursor-pointer hover:underline hover:scale-105">Contact</button>
  </div>
</header>