<p>lms-home works!</p>
<div class="grid grid-cols-12 gap-2 bg-sky-400 p-2 h-fit w-[1024px]">
  <div class="col-span-2">
    <div class="h-full rounded-2xl border bg-purple-200"></div>
  </div>

  <div class="col-span-10 flex h-fit flex-col gap-2 rounded-2xl bg-sky-200 p-2">
    <div class="flex flex-row items-center justify-between rounded-2xl border bg-lime-100 p-2">
      <div class="flex items-center gap-2 rounded-xl border px-1 py-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.292 3.292l4.242 4.242a1 1 0 11-1.414 1.414l-4.242-4.242A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
        <input type="text" placeholder="Search..." class="bg-transparent text-sm text-gray-700 outline-none" />
      </div>

      <div class="flex flex-row items-center gap-2">
        <p class="rounded-full px-1 py-1 text-sm">1</p>
        <div class="h-8 w-8">
          <img src="https://i.pravatar.cc/40" class="h-full w-full rounded-full border" alt="Avatar" />
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-2 rounded-2xl border bg-amber-200 px-2">
      <p class="font-semibold text-sky-600">Course</p>
      <p>Progress</p>
      <p>Dates</p>
      <p>Discussion</p>
      <p>Teams</p>
    </div>

    <div class="grid grid-cols-12 gap-1 rounded-2xl border bg-lime-100 p-1">
      <div class="col-span-8 flex flex-col gap-1 rounded-2xl border bg-amber-100 p-1">
        <h2>Beginner's Guide to Pokémon Training</h2>
        <div class="flex h-fit justify-between rounded-2xl border p-2">
          <p>Pick up where you left off</p>
          <button class="flex items-center rounded-2xl border bg-lime-200 px-2">Resume course</button>
        </div>
        <div class="flex h-fit justify-between rounded-2xl p-2">
          <p></p>
          <button class="flex items-center rounded-2xl border bg-lime-200 px-2">Expand all</button>
        </div>

        <div class="flex h-fit justify-between rounded-2xl border p-2">
          <p class="w-[10%]">Tick</p>
          <button class="flex w-[80%] justify-start rounded-2xl border bg-lime-200 px-1">Module 1: Pokémon Types</button>
          <button class="flex items-center rounded-2xl border bg-lime-200 px-2">+</button>
        </div>

        <div class="flex h-fit justify-between rounded-2xl border px-2 py-1">
          <p class="w-[10%]">Tick</p>
          <button class="flex w-[80%] justify-start rounded-2xl border bg-lime-200 px-1">Module 2: Stats and Nature</button>
          <button class="flex items-center rounded-2xl border bg-lime-200 px-2">+</button>
        </div>
      </div>

      <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-lime-50 px-2 py-1">
        <div class="flex">
          <h3>Course tool</h3>
        </div>
        <div class="flex flex-col gap-1">
          <p class="rounded-2xl border px-2">Bookmarks</p>
          <p class="rounded-2xl border px-2">Updates</p>
          <p class="rounded-2xl border px-2">Launch tour</p>
        </div>
        <div class="flex">
          <h3>Course Handouts</h3>
        </div>
        <div class="flex h-14 flex-col gap-1 rounded-2xl border"></div>
      </div>
    </div>
  </div>
</div>