<p>fe-messages works!</p>
<div class="grid grid-cols-12 gap-2 bg-teal-100 p-2 w-[1024px] h-fit">
    <div class="col-span-2">
        <div class="h-full rounded-2xl border bg-purple-200"></div>
    </div>
    <div class="col-span-10 grid h-full grid-cols-24 grid-rows-12 gap-2 rounded-2xl bg-sky-200 p-2">
        <div class="col-span-full row-span-2 gap-1 rounded-2xl bg-amber-100 p-1">
            <div class="flex flex-row items-center justify-between rounded-2xl border p-2">
                <div class="flex items-center gap-2 rounded-xl border px-1 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.292 3.292l4.242 4.242a1 1 0 11-1.414 1.414l-4.242-4.242A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <input type="text" placeholder="Search..."
                        class="bg-transparent text-sm text-gray-700 outline-none" />
                </div>

                <div class="flex flex-row items-center gap-2">
                    <p class="rounded-full px-1 py-1 text-sm font-semibold">Satoshi</p>
                    <div class="h-8 w-8">
                        <img src="https://i.pravatar.cc/40" class="h-full w-full rounded-full border" alt="Avatar" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-full row-span-10 grid grid-cols-12 gap-1 rounded-2xl border bg-lime-100 p-1">
            <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-amber-100 p-1">
                <p class="text-lg font-semibold">Messages</p>

                <div class="flex w-full items-center rounded-2xl border px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.292 3.292l4.242 4.242a1 1 0 11-1.414 1.414l-4.242-4.242A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
                    <input type="text" placeholder="Search"
                        class="w-full bg-transparent px-2 text-sm text-gray-700 outline-none" />
                </div>

                <div class="flex w-full items-center rounded-lg border gap-1 px-1">
                    <div class="h-8 w-8 flex-shrink-0">
                        <img src="https://i.pravatar.cc/40" class="h-full w-full rounded-full border" alt="Avatar" />
                    </div>
                    <div class="grid w-full grid-cols-3 gap-1 px-1">
                        <div class="flex flex-row justify-between col-span-3">
                            <p class="font-medium">Serena</p>
                            <p class="text-xs text-gray-500">1m ago</p>
                        </div>

                        <div class="flex flex-row justify-between col-span-3">
                            <div class="overflow-hidden">
                                <p class="text-gray-700 truncate">Hey Satoshi, what are you doing?</p>
                            </div>
                            <p class="rounded-full bg-purple-200 px-2 text-sm">1</p>
                        </div>
                    </div>
                </div>

                <div class="flex w-full items-center rounded-lg border gap-1 px-1">
                    <div class="h-8 w-8 flex-shrink-0">
                        <img src="https://i.pravatar.cc/30" class="h-full w-full rounded-full border" alt="Avatar" />
                    </div>
                    <div class="grid w-full grid-cols-3 gap-1 px-1">
                        <div class="flex flex-row justify-between col-span-3">
                            <p class="font-medium">Haruka</p>
                            <p class="text-xs text-gray-500">1m ago</p>
                        </div>

                        <div class="flex flex-row justify-between col-span-3">
                            <div class="overflow-hidden">
                                <p class="text-gray-700 truncate">Hey Satoshi, what are you doing?</p>
                            </div>
                            <p class="rounded-full bg-purple-200 px-2 text-sm">2</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-8 grid gap-1 rounded-2xl border bg-lime-50 p-2">
                <div class="flex max-h-fit w-full items-center gap-1 rounded-xl border bg-sky-100 p-1">
                    <div class="h-10 w-10">
                        <img src="https://i.pravatar.cc/100" alt="Avatar" class="h-full w-full rounded-full border" />
                    </div>

                    <div class="flex flex-1 flex-col border-l pl-3">
                        <p class="font-semibold text-gray-700">Satoshi</p>
                        <p class="flex items-center gap-1 text-xs text-green-600">Online</p>
                    </div>

                    <div class="flex gap-2">
                        <button class="flex items-center gap-1 rounded-md border px-2">Call</button>

                        <button class="flex items-center gap-1 rounded-md border px-2">View</button>
                    </div>
                </div>

                <div class="flex w-full flex-col rounded-xl border p-2">
                    <div class="w-full rounded-lg p-1">
                        <div class="mb-2 flex flex-col items-start">
                            <p class="text-xs text-gray-500">Friday 2:20pm</p>
                            <div class="flex w-full items-center gap-2 rounded-lg border bg-gray-200 p-1">
                                <img src="https://i.pravatar.cc/41" class="h-8 w-8 rounded-full border" />
                                <p class="text-sm text-gray-700"></p>
                            </div>
                        </div>

                        <div class="mb-2 flex flex-col items-start">
                            <p class="text-xs text-gray-500">Friday 2:31pm</p>
                            <div class="flex w-full items-start gap-2">
                                <img src="https://i.pravatar.cc/40" class="h-8 w-8 rounded-full border" />
                                <div class="flex h-10 w-full flex-col gap-1 rounded-lg border bg-rose-50 px-1"></div>
                            </div>
                        </div>

                        <div class="mb-2 flex flex-col items-end">
                            <p class="text-xs text-gray-500">Friday 2:20pm</p>
                            <div class="h-10 w-full rounded-lg border bg-purple-200 p-1 text-sm"></div>
                        </div>
                    </div>

                    <div class="w-full items-center gap-2 rounded-lg flex">
                        <button class="rounded-lg border p-1 hover:bg-gray-200">😊</button>
                        <button class="rounded-lg border p-1 hover:bg-gray-200">📎</button>
                        <input type="text" placeholder="Message"
                            class="flex-1 rounded-xl border bg-transparent p-1 outline-none" />
                        <button class="rounded-lg border">🚀</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>