<p>cms-section works!</p>
<div class="grid grid-cols-12 gap-2 bg-teal-300 p-2 h-fit w-[1024px]">
    <div class="col-span-2">
      <div class="h-full rounded-2xl border bg-purple-200"></div>
    </div>
  
    <div class="col-span-10 flex h-fit flex-col gap-2 rounded-2xl bg-sky-200 p-2">
      <div class="flex flex-row items-center justify-between rounded-2xl border bg-lime-100 p-2">
        <div class="flex items-center gap-2 rounded-xl border px-1 py-1">
          <p class="font-semibold text-sky-600">Content</p>
          <p>Settings</p>
          <p>Tools</p>
        </div>
  
        <div class="flex flex-row items-center gap-2">
          <p class="rounded-full px-1 py-1 text-sm">1</p>
          <div class="h-8 w-8">
            <img src="https://i.pravatar.cc/40" class="h-full w-full rounded-full border" alt="Avatar" />
          </div>
        </div>
      </div>
  
      <div class="flex flex-col gap-1 rounded-2xl border bg-amber-200 p-2">
        <p>Content</p>
        <div class="flex justify-between">
          <h2 class="text-xl font-semibold">Course outline</h2>
          <div class="flex gap-2">
            <button class="rounded-xl bg-sky-400 px-2">New Section</button>
            <button class="rounded-xl bg-lime-400 px-2">Collapse All Section</button>
            <button class="rounded-xl bg-lime-400 px-2">View Live</button>
          </div>
        </div>
      </div>
  
      <div class="grid grid-cols-12 gap-2 rounded-xl border bg-lime-100 p-2">
        <div class="col-span-8 flex flex-col gap-1 rounded-xl border bg-amber-100 p-2">
          <div class="flex gap-3 rounded-xl border bg-amber-100 px-1 py-1">
            <div class="flex flex-col">
              <p>Start date</p>
              <p class="font-semibold text-sky-600">Feb 20,2025 at 09:35 UTC</p>
            </div>
            <div class="flex flex-col">
              <p>Pacing type</p>
              <p class="font-semibold">Instructor-Paced</p>
            </div>
            <div class="flex flex-col">
              <p>Checklists</p>
              <p class="font-semibold text-sky-600">8/8 complete</p>
            </div>
          </div>
  
          <div class="flex flex-col gap-2 rounded-xl border bg-sky-100 px-1 py-1">
            <div class="flex flex-col gap-1 rounded-xl border bg-amber-200 p-1">
              <div class="flex flex-row justify-between">
                <div>
                  <button>+</button>
                  <span class="text-gray-600">Section</span>
                </div>
                <div class="flex gap-3">
                  <p><span>v</span> Released: Feb 20, 2025 at 9:35 UTC</p>
                  <p>...</p>
                </div>
              </div>
              <div class="flex justify-between rounded-xl border p-2 px-2">
                <input type="text" placeholder="Introduction" class="w-[50%] rounded-xl border px-2 font-semibold" />
                <div class="">
                  <button class="font-semibold">Releases</button>
                  <button>Settings</button>
                  <button>Copy</button>
                  <button>Delete</button>
                </div>
              </div>
              <div>
                <span>v</span>
                <span>Section hightlights</span>
              </div>
  
              <div class="flex flex-col gap-1 px-2">
                <div class="gap-1 rounded-xl border bg-lime-200 text-left">
                  <div class="flex flex-col gap-1 px-2 py-1">
                    <div class="flex flex-row justify-between">
                      <div>
                        <button>+</button>
                        <span class="text-gray-600">Subsection</span>
                      </div>
                      <div class="flex gap-3">
                        <p><span>v</span> Released: Feb 20, 2025 at 9:35 UTC</p>
                        <p>...</p>
                      </div>
                    </div>
  
                    <div class="flex justify-between rounded-xl border p-2">
                      <input type="text" placeholder="Pokemon training course overview" class="w-[50%] rounded-xl border px-2 font-semibold" />
                      <div class="">
                        <button class="font-semibold">Releases</button>
                        <button>Settings</button>
                        <button>Copy</button>
                        <button>Delete</button>
                      </div>
                    </div>
  
                    <div class="flex flex-col gap-1 rounded-xl p-2">
                      <div class="flex flex-col gap-2 rounded-xl border bg-rose-100 p-2">
                        <div class="flex flex-row justify-between">
                          <div>
                            <button>+</button>
                            <span class="text-gray-600">Units</span>
                          </div>
                          <div class="flex gap-3">
                            <p><span>v</span> Released: Feb 20, 2025 at 9:35 UTC</p>
                            <p>...</p>
                          </div>
                        </div>
                        <div class="flex justify-between rounded-xl border p-2">
                          <input type="text" placeholder="Using pokeball overview" class="w-[50%] rounded-xl border px-2 font-semibold" />
                          <div class="">
                            <button class="font-semibold">Releases</button>
                            <button>Settings</button>
                            <button>Copy</button>
                            <button>Delete</button>
                          </div>
                        </div>
                      </div>
                      <div class="rounded-xl border bg-rose-300 text-center">
                        <span>+</span>
                        <span>New unit</span>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="rounded-xl border bg-lime-200 text-center">
                  <span>+</span>
                  <span>New subsection</span>
                </div>
              </div>
            </div>
            <div class="rounded-xl border bg-amber-200 text-center">
              <span>+</span>
              <span>New section</span>
            </div>
          </div>
        </div>
  
        <div class="col-span-4 flex flex-col gap-2 rounded-2xl border bg-lime-50 px-2 py-1">
          <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-lime-50 px-2 py-1">
            <h2 class="text-lg font-semibold">Creating your course organization</h2>
            <p class="text-sm text-gray-600">You add sections, subsections, and units directly in the outline. Create a section, then add subsections and units. Open a unit to add course components.</p>
          </div>
  
          <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-lime-50 px-2 py-1">
            <h2 class="text-lg font-semibold">Reorganizing your course</h2>
            <p class="text-sm text-gray-600">Drag sections, subsections, and units to new locations in the outline. Learn more about the course outline.</p>
            <button class="rounded-xl border bg-lime-200 px-2">Learn more about the course outline</button>
          </div>
  
          <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-lime-50 px-2 py-1">
            <h2 class="text-lg font-semibold">Setting release dates and grading policies</h2>
            <p class="text-sm text-gray-600">Select the Configure icon for a section or subsection to set its release date. When you configure a subsection, you can also set the grading policy and due date. Learn more about grading policy settings.</p>
            <button class="rounded-xl border bg-lime-200 px-2">Learn more about grading policies settings</button>
          </div>
        </div>
      </div>
    </div>
  </div>