<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<p>/account</p>
<div class="grid grid-cols-12 grid-rows-12 gap-2 bg-teal-100 p-2 h-[768px] w-[1024px]">
    <div class="col-span-8 grid row-span-full grid-cols-24 grid-rows-12 gap-2 rounded-2xl bg-sky-200 gap-y-2.5">
  
      <div class="relative col-span-full row-span-2 grid grid-cols-8 grid-rows-3 rounded-2xl">
        <div class="absolute h-[80%] w-full rounded-2xl bg-sky-500"></div>
        <div class="grid col-span-full row-span-1 rounded-2xl z-1">
          <div class="">
            <div class="w-[80px] ">
              <img [src]="ball3dImg" alt="ball3d" />
            </div>
          </div>
        </div>
  
        <div class="grid col-span-2 col-start-2 row-span-2 z-1">
          <div class="grid rounded-full overflow-hidden border">
            <div class=" ">
              <div class="relative">
                <div class="absolute w-[80px]">
                  <img [src]="satoshi3dImg" alt="satoshi3d" />
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="col-span-4 row-span-2 rounded-2xl p-2 z-1">
          <div class="h-full">
            <p class="kanit-italic">Online</p>
            <h2 class="font-semibold text-xl press-start">NamTran</h2>
            <p class="kanit">Date of registration: <span class="OrangeKid font-semibold bg-amber-200 px-2 rounded-lg text-green-700">14.02.2024</span></p>
          </div>
        </div>
  
      </div>
  
      <div class="col-span-full row-span-7 grid grid-cols-12 grid-rows-3 gap-1 rounded-2xl border bg-lime-200 p-1">

        <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Tư duy phản biện</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8.5/10 - Giỏi</p>
  </div>

  <!-- Kỹ năng giải quyết vấn đề -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Kỹ năng giải quyết vấn đề</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">7.5/10 - Khá</p>
  </div>

  <!-- Kỹ năng toán học và tính toán -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Kỹ năng toán học và tính toán</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">9/10 - Giỏi</p>
  </div>

  <!-- Sáng tạo và đổi mới -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Sáng tạo và đổi mới</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

  <!-- Kỹ năng công nghệ và chiến thuật kỹ thuật số -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Kỹ năng công nghệ và chiến thuật kỹ thuật số</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

  <!-- Quản lý dự án và tổ chức -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Quản lý dự án và tổ chức</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

  <!-- Khả năng làm việc nhóm -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Khả năng làm việc nhóm</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

  <!-- Tư duy hệ thống -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Tư duy hệ thống</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

  <!-- Kỹ năng học hỏi -->
  <div class="col-span-4 row-span-1 rounded-2xl border p-2">
    <h3 class="text-lg font-semibold">Kỹ năng học hỏi</h3>
    <div class="w-full flex bg-gray-200 rounded-full h-4 relative space-x-1">
      <div class="bg-amber-400 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-orange-500 h-4 rounded-full" style="width: 33%;"></div>
      <div class="bg-rose-600 h-4 rounded-full" style="width: 20%;"></div>
    </div>
    <p class="text-sm text-gray-600 mt-1">8/10 - Giỏi</p>
  </div>

      </div>
  
      <div class="col-span-full row-span-3 grid grid-cols-7 grid-rows-4 gap-1 rounded-lg border bg-lime-300 p-4">
        <div class="col-span-full row-span-2 rounded-lg border">
          <p class="font-semibold text-2xl">Rewards in games</p>
        </div>
  
        <div class="col-span-1 row-span-2 rounded-lg border">
          <div class="relative">
            <div class="absolute w-[100px] -left-2.5">
              <img [src]="bulbasaur3dImg" alt="bulbasaur3d" />
            </div>
          </div>
        </div>
        <div class="col-span-1 row-span-2 rounded-lg border">
          <div class="relative">
            <div class="absolute w-[80px] left-1">
              <img [src]="charizard3dImg" alt="charizard3d" />
            </div>
          </div>
        </div>
        <div class="col-span-1 row-span-2 rounded-lg border">
          <div class="relative">
            <div class="absolute w-[100px] -left-2.5 -top-2.5">
              <img [src]="gyarados3dImg" alt="gyarados3dImg" />
            </div>
          </div>
        </div>
        <div class="col-span-1 row-span-2 rounded-lg border">
          <div class="relative">
            <div class="absolute w-[100px] -left-1 ">
              <img [src]="pikachu3dImg" alt="pikachu3dImg" />
            </div>
          </div>
        </div>
        <div class="col-span-1 row-span-2 rounded-lg border">
          <div class="relative">
            <div class="absolute w-[100px] -left-2.5 -top-2.5">
              <img [src]="image43dImg" alt="image43dImg" />
            </div>
          </div>
        </div>
        <div class="col-span-1 row-span-2 rounded-lg border"></div>
        <div class="col-span-1 row-span-2 rounded-lg border"></div>
      </div>
    </div>
  
    <div class="relative row-span-full col-span-4 grid grid-cols-12 grid-rows-4 rounded-2xl bg-lime-200 p-2 gap-4">
      <div class="row-span-2 col-span-full bg-lime-50 rounded-2xl grid grid-cols-2 grid-rows-2 gap-6 p-6">
        <div class="col-span-1 row-span-1 bg-red-300 rounded-2xl">
          <div class="">
            <div class="relative">
              <div class="absolut w-[80px]">
                <img [src]="ball3d2Img" alt="ball3d2" />
              </div>
            </div>
          </div>
  
          <div class="border rounded-2xl px-2 text-center -rotate-22">
            <p class="font-semibold text-xl">Pokemon</p>
          </div>
  
        </div>
        <div class="col-span-1 row-span-1 bg-amber-300 rounded-2xl">
          <div class="">
            <div class="relative">
              <div class="absolut w-[80px]">
                <img [src]="fireImg" alt="fire" />
              </div>
            </div>
          </div>
  
          <div class="border rounded-2xl px-2 text-center -rotate-22">
            <p class="font-semibold text-xl">Movie</p>
          </div>
  
  
        </div>
        <div class="col-span-1 row-span-1 bg-sky-300 rounded-2xl">
  
          <div class="">
            <div class="relative">
              <div class="absolut w-[80px]">
                <img [src]="dnaImg" alt="dna" />
              </div>
            </div>
          </div>
  
  
          <div class="border rounded-2xl px-2 text-center -rotate-22">
            <p class="font-semibold text-xl">Pokemon</p>
          </div>
        </div>
        <div class="col-span-1 row-span-1 bg-lime-300 rounded-2xl">
  
          <div class="">
            <div class="relative">
              <div class="absolut w-[80px]">
                <img [src]="location3dImg" alt="location3d" />
              </div>
            </div>
          </div>
  
  
          <div class="border rounded-2xl px-2 text-center -rotate-22">
            <p class="font-semibold text-xl">Location</p>
          </div>
  
        </div>
      </div>
      <div class="relative row-span-2 col-span-full grid grid-cols-12 grid-rows-3">
        <div class="absolute top-[20px] z-1 h-40 w-28">
          <div class="relative">
            <div class="absolute w-[250px]">
              <img [src]="satoshi3dImg" alt="satoshi3d" />
            </div>
          </div>
        </div>
        <div class="col-span-7 row-span-3 grid grid-cols-4 grid-rows-12 rounded-l-2xl bg-lime-50">
          <div class="col-span-2 row-span-6">
            <div class="left h-full rounded-tl-2xl bg-amber-200"></div>
            <div class="left h-full rounded-bl-2xl bg-amber-200"></div>
          </div>
          <div class="col-span-4 row-span-6">
            <div class="right h-full bg-lime-50"></div>
          </div>
        </div>
        <div class="col-span-5 row-span-3 grid grid-cols-8 grid-rows-12 rounded-2xl bg-amber-500">
          <div class="col-span-4 row-span-6">
            <div class="left h-full bg-lime-50"></div>
            <div class="left h-full bg-lime-50"></div>
          </div>
          <div class="col-span-8 row-span-6">
            <div class="right h-full rounded-br-2xl bg-amber-500"></div>
          </div>
        </div>
      </div>
  
    </div>
  
    <style>
      .left {
        clip-path: ellipse(60% 80% at 30% 60%);
        left: 0;
      }
  
      .right {
        clip-path: ellipse(50% 100% at 70% 80%);
        right: 0;
      }
    </style>
  </div>