<p>cms-home works!</p>
<div class="grid grid-cols-12 gap-2 bg-teal-200 h-full w-[1024px] p-2">
    <div class="col-span-2">
      <div class="h-full rounded-2xl border bg-purple-200"></div>
    </div>
  
    <div class="col-span-10 flex h-fit flex-col gap-2 rounded-2xl bg-sky-200 p-2">
      <div class="flex flex-row items-center justify-between rounded-2xl border bg-lime-100 p-2">
        <div class="flex items-center gap-2 rounded-xl border px-1 py-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.292 3.292l4.242 4.242a1 1 0 11-1.414 1.414l-4.242-4.242A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
          <input type="text" placeholder="Search..." class="bg-transparent text-sm text-gray-700 outline-none" />
        </div>
  
        <div class="flex flex-row items-center gap-2">
          <p class="rounded-full px-1 py-1 text-sm">1</p>
          <div class="h-8 w-8">
            <img src="https://i.pravatar.cc/40" class="h-full w-full rounded-full border" alt="Avatar" />
          </div>
        </div>
      </div>
  
      <div class="grid grid-cols-12 gap-1 rounded-2xl border bg-lime-100 p-1">
        <div class="col-span-8 flex flex-col gap-1 rounded-2xl border bg-amber-100 p-2">
          <h2 class="text-lg font-semibold">Studio Home</h2>
  
          <div class="rounded-lg border bg-sky-100 px-2 py-1">
            <h3 class="font-semibold">Thanks for signing up, Satoshi!</h3>
            <div class="rounded-xl bg-rose-100 px-1">
              <p class="font-semibold">We need to verify your email address</p>
              <p class="text-sm">Almost there! In order to complete your sign up we need you to verify your email address (satoshi.pokemon.com). An activation message and next steps should be waiting for you there.</p>
            </div>
          </div>
        </div>
  
        <div class="col-span-4 flex flex-col gap-1 rounded-2xl border bg-lime-50 px-2 py-1">
          <h2 class="font-semibold">Need help?</h2>
          <p class="text-sm">Please check your Junk or Spam folders in case our email isn't in your INBOX. Still can't find the verification email? Request help via the link below.</p>
        </div>
      </div>
    </div>
  </div>